.card__remove {
  padding: 0;
  align-self: flex-end;
  z-index: 1;
  width: 22px;
  height: 19px;
  background-image: url("../../../images/button__remove.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: unset;
  background-color: transparent;
  transition: 0.2s;
  position: absolute;
  top: 18px;
  right: 15px;
  outline: none;
}

.card__remove:hover{
    opacity: 0.6;
    cursor: pointer;
}
